@model WS.ViewModel.OfficialAccounts_Finish_ViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



    <div class="panel panel-info">
        <div class="panel-heading">信息完成度</div>
        <div class="panel-body">
            <table class="table table-bordered">
                <tr>
                    <th>信息</th>
                    <th>情况</th>
                    <th>操作</th>
                </tr>
                <tr>
                    <td>基本信息设置</td>
                    <td>
                        @if (Model.BaseInfo == true)
                        {
                            <span class="glyphicon glyphicon-ok" style="font-size: 2em; color: #4cff00;"></span>

                        }
                        else
                        {
                            <span class="glyphicon glyphicon-remove" style="font-size: 2em; color: #ff0000;"></span>

                        }
                    </td>
                    <td>
                        @Html.ActionLink("基本信息设置", "Edit_BaseInfo", "OfficialAccounts", new { Area = "Admin" }, null)

                        
                    </td>
                </tr>
                <tr>
                    <td>海报设置</td>
                    <td>
                        @if (Model.HaoBao == true)
                        {
                            <span class="glyphicon glyphicon-ok" style="font-size: 2em; color: #4cff00;"></span>

                        }
                        else
                        {
                            <span class="glyphicon glyphicon-remove" style="font-size: 2em; color: #ff0000;"></span>

                        }
                    </td>
                    <td>
                        @Html.ActionLink("设置海报背景", "SelectTempLate", "OfficialAccounts", new { Area = "Admin" }, null)

                        
                    </td>
                </tr>
                <tr>
                    <td>提示语</td>
                    <td>
                        @if (Model.PromptLanguage == true)
                        {
                            <span class="glyphicon glyphicon-ok" style="font-size: 2em; color: #4cff00;"></span>

                        }
                        else
                        {
                            <span class="glyphicon glyphicon-remove" style="font-size: 2em; color: #ff0000;"></span>

                        }
                    </td>
                    <td>
                        @Html.ActionLink("提示语设置", "Edit_PromptLanguage", "OfficialAccounts", new { Area = "Admin" }, null)

                        
                    </td>
                </tr>
                <tr>
                    <td>积分设置</td>
                    <td>
                        @if (Model.Score == true)
                        {
                            <span class="glyphicon glyphicon-ok" style="font-size: 2em; color: #4cff00;"></span>

                        }
                        else
                        {
                            <span class="glyphicon glyphicon-remove" style="font-size: 2em; color: #ff0000;"></span>

                        }
                    </td>
                    <td>
                        @Html.ActionLink("积分设置", "Edit_Score", "OfficialAccounts", new { Area = "Admin" }, null)



                        
                    </td>
                </tr>
                <tr>
                    <td>有赞设置</td>
                    <td>
                        @if (Model.YouZan == true)
                        {
                            <span class="glyphicon glyphicon-ok" style="font-size: 2em; color: #4cff00;"></span>

                        }
                        else
                        {
                            <span class="glyphicon glyphicon-remove" style="font-size: 2em; color: #ff0000;"></span>

                        }
                    </td>
                    <td>
                        @Html.ActionLink("有赞信息设置", "Edit_YouZan", "OfficialAccounts", new { Area = "Admin" },null)

                     
                    </td>
                </tr>
            </table>

        </div>
    </div>






