@model IEnumerable<WS.Model.OfficialAccounts>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>选择公众号</title>
    @Styles.Render("~/Content/bootstrap")
    @*<link href="~/Content/liufont.css" rel="stylesheet" />*@
    <style type="text/css">



             * {
                 font-family: '"Helvetica Neue",Helvetica,Tahoma,Arial,STXihei,"Microsoft YaHei","微软雅黑",sans-serif';

                 /*font-family: 'fzltxh';*/
             }

            .thumbnail {
                border: 1px solid #389b4f;
                border-top: 6px solid #389b4f;
                border-radius: 0;
            }

            .thumbnail:hover {
                /*border: 1px solid #ff6a00;
                    border-top: 6px solid #ff6a00;*/
                background-color: #e48948;
                box-shadow: 0 0 10px #3e3e3e;
            }
            /*.thumbnail:hover > .caption {
                            color:white !important;

                }*/
    

            .NotConfigure {
                border: 1px solid #ff0000;
                border-top: 6px solid #ff0000;
            }
    </style>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>选择公众账号</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">


                @Html.ActionLink("添加微信公众号", "Add", "OfficialAccounts", new { Area = "Admin" }, new { @class = "btn btn-info" })

            </div>
        </div>
        <br />
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-sm-4 col-md-3 col-xs-12">

                    @if (item.IsConfigure != null && (bool)item.IsConfigure)
                    {
                        <div class="thumbnail">
                            @*  <img src="..." alt="...">*@
                            <div class="caption">
                                <h3>@item.WeiXinName </h3>
                                <p>微信号：@item.WeiXinNumber</p>
                                <p>
                                    @Html.ActionLink("选择", "ConfirmSelect", new { id = item.AccountID }, new { @class = "btn btn-success  btn-sm", role = "button" })

                                </p>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="thumbnail NotConfigure">
                            @*  <img src="..." alt="...">*@
                            <div class="caption">
                                <h3>@item.WeiXinName </h3>
                                <p>微信号：@item.WeiXinNumber</p>
                                <p>
                                    @Html.ActionLink("选择", "ConfirmSelect", new { id = item.AccountID }, new { @class = "btn btn-success  btn-sm", role = "button" })

                                </p>
                            </div>
                        </div>
                    }

                </div>
            }
        </div>
    </div>
</body>
</html>
