@model WS.ViewModel.RegisterUserModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>微信服务平台</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet"/>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default" style="margin-top: 25%">
                    <div class="panel-heading">
                        <h3 class="panel-title">注册-微信服务平台</h3>
                    </div>
                    <div class="panel-body">

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)



                            <div class="form-group">
                                @Html.LabelFor(model => model.UserName)

                                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.UserName)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.PassWord)

                                @Html.PasswordFor(model => model.PassWord, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.PassWord)
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ConfirmPassWord)

                                @Html.PasswordFor(model => model.ConfirmPassWord, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ConfirmPassWord)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.PhoneNumber)

                                @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.PhoneNumber)
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.EMail)

                                @Html.TextBoxFor(model => model.EMail, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.EMail)
                            </div>
                            <button type="submit" class="btn btn-default">注册</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

</body>
</html>
