<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>微信服务平台</title>
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Scripts/startbootstrap-sb-admin/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top navbar-static-top" role="navigation" style="margin-bottom: 0">

        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/Home/Index">
                    <span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;<strong class="text-primary">迷漫</strong><strong>科技</strong>
                     @* （@Html.Action("_GetCurrentAccountName", "OfficialAccount", new { Area = "Admin" })）*@
                </a>
            </div>
            <!-- /.navbar-header -->
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                @*<ul class="nav navbar-nav">
                        <li class="active"><a href="#">公众号 <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">粉丝</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">商品 <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">One more separated link</a></li>
                            </ul>
                        </li>
                    </ul>*@
                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@User.Identity.Name <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">@Html.ActionLink("切换公众号","Select", "OfficialAccount", new { Area = "Admin" }, null)</a></li>
                            <li><a href="#">@Html.ActionLink("退出", "LogOff", "Users", new { Area = "" }, null)</a></li>
                            @*<li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">One more separated link</a></li>*@
                        </ul>
                    </li>

                    @*<li><a href="#">@User.Identity.Name</a></li>
                    <li>
                        @Html.ActionLink("退出", "LogOff", "Users", new { Area = "" }, null)
                    </li>*@
                    @*<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </li>*@
                </ul>
            </div><!-- /.navbar-collapse -->


        </div>

        <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper" style="height:100%;">

        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
      @RenderSection("scripts", required: false)
</body>
</html>
