<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
        @Styles.Render("~/Content/bootstrap")
        <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <style type="text/css">
        table th, table td {
            text-align: center;
            padding: 5px;
        }
    </style>

</head>
<body>
   @Html.Action("_LayoutHeader", "Subscriber", new{Area = "WeiXin",SubscribeID = ViewBag.SubscribeID})
@*<div class="container-fluid">*@
    @RenderBody()
@*</div>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("Scripts", required: false)

    
</body>
</html>
