@model WS.ViewModel.OfficialAccount_BaseInfo_ViewModel

@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutUnSelect.cshtml";
}

<div class="container">
<br />
<div class="panel panel-info">
    <div class="panel-heading">添加微信公众号</div>
    <div class="panel-body">
        @using (Html.BeginForm("Add", "OfficialAccount", new { Area = "Admin" }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, null, new { @class = "alert alert-danger alert-dismissable" })



            <div class="form-group">
                @Html.LabelFor(model => model.WeiXinName, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.WeiXinName, new { @class = "form-control", placeholder = "WeiXinName" })
                    @Html.ValidationMessageFor(model => model.WeiXinName)

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.OriginalID, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.OriginalID, new { @class = "form-control", placeholder = "OriginalID" })
                    @Html.ValidationMessageFor(model => model.OriginalID)

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.WeiXinNumber, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.WeiXinNumber, new { @class = "form-control", placeholder = "WeiXinNumber" })
                    @Html.ValidationMessageFor(model => model.WeiXinNumber)

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AppID, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.AppID, new { @class = "form-control", placeholder = "AppID" })
                    @Html.ValidationMessageFor(model => model.AppID)

                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AppSecret, new { @class = "col-sm-2 control-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(model => model.AppSecret, new { @class = "form-control", placeholder = "AppSecret" })
                    @Html.ValidationMessageFor(model => model.AppSecret)

                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-8">
                    <button type="submit" class="btn btn-default">提交</button>
                </div>
            </div>
        }
    </div>
</div>



</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
