@model WS.ViewModel.OfficialAccount_YouZan_ViewModel

@{
    ViewBag.Title = "Edit_YouZan";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



    <br />
    <div class="panel panel-info">
        <div class="panel-heading">编辑基本信息</div>
        <div class="panel-body">
            @using (Html.BeginForm("Edit_YouZan", "OfficialAccount", new { Area = "Admin" }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, null, new { @class = "alert alert-danger alert-dismissable" })

                @Html.HiddenFor(model => model.AccountID)

                <div class="form-group">
                    @Html.LabelFor(model => model.YouZanAppID, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.YouZanAppID, new { @class = "form-control", placeholder = "YouZanAppID" })
                        @Html.ValidationMessageFor(model => model.YouZanAppID)

                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.YouZanAppSecret, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.YouZanAppSecret, new { @class = "form-control", placeholder = "YouZanAppSecret" })
                        @Html.ValidationMessageFor(model => model.YouZanAppSecret)

                    </div>
                </div>



                <div class="form-group">
                    @Html.LabelFor(model => model.YZIncomeFirstPercent, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.YZIncomeFirstPercent, new { @class = "form-control", placeholder = "YZIncomeFirstPercent" })
                        @Html.ValidationMessageFor(model => model.YZIncomeFirstPercent)

                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.YZIncomeSecondPercent, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.YZIncomeSecondPercent, new { @class = "form-control", placeholder = "YZIncomeSecondPercent" })
                        @Html.ValidationMessageFor(model => model.YZIncomeSecondPercent)

                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.YZIncomeCashLimit, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(model => model.YZIncomeCashLimit, new { @class = "form-control", placeholder = "YZIncomeCashLimit" })
                        @Html.ValidationMessageFor(model => model.YZIncomeCashLimit)

                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.YouZanEnable, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">

                        <label>


                            @Html.RadioButtonFor(model => model.YouZanEnable, false, new { @id = "radio1", @name = "YouZanEnable" })
                            启用
                        </label>

                        <label>

                            @Html.RadioButtonFor(model => model.YouZanEnable, true, new { @id = "radio2", @name = "YouZanEnable" })
                            关闭
                        </label>
                        @Html.ValidationMessageFor(model => model.YouZanEnable)

                    </div>
                </div>


                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-8">
                        <button type="submit" class="btn btn-default">提交</button>
                    </div>
                </div>
            }
        </div>
    </div>





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
